/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes marker-animation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(4px);
  }
}

.like-icon {
  .core {
    fill: transparent;
    transition: fill 0.5s 0.05s ease-in-out;
  }

  .main-body {
    fill: transparent;
    transition: fill 0.3s ease-in-out;
  }

  .contour {
    fill: var(--text-color, #000);
    transition: fill 0.1s ease-in-out;
  }

  &:hover {
    .core {
      fill: var(--text-color, #000);
      transition: fill 0.3s ease-in-out;
    }

    .main-body {
      fill: var(--text-color, #000);
      transition: fill 0.3s 0.05s ease-in-out;
    }
  }
  
  &:active {
    .core {
      fill: var(--heart-sparks-color, #ff0000);
      transition: fill 0.3s ease-in-out;
    }

    .main-body {
      fill: var(--heart-sparks-color, #ff0000);
      transition: fill 0.3s 0.05s ease-in-out;
    }
  }

  &.is-liked {
    .core {
      fill: var(--heart-sparks-color, #ff0000);
      transition: fill 0.3s ease-in-out;
    }

    .main-body {
      fill: var(--heart-sparks-color, #ff0000);
      transition: fill 0.3s 0.05s ease-in-out;
    }

    .contour {
      fill: var(--text-color, #000);
      transition: fill 0.3s 0.06s ease-in-out;
    }

    .heart {
      transform-origin: center;
      animation: heart 0.3s 0.1s ease-in-out 1 alternate;
    }

    .sparks {
      animation: sparks 0.3s 0.3s ease-in-out 1 alternate;
    }
  }
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}